.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a84;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.user_engine{
    position: relative;
    background: maroon; 
    color: white; 
    margin: 8px; 
    padding: 4px;
  }

.apprecie{position: absolute; top: 20px; left: 10px;}

.user_engine *{margin: 4px; padding: 4px;}

.nmber{background: blue; 
    margin: 4px; 
    padding: 4px; 
    min-width: 36px; 
    display: inline-block;
    color: white;
    border-radius: 5px;
    font-size: x-large;
}
.nmber::active{
    box-shadow: 3px 3px 2px  #afb;
}
.nmber:hover{
    cursor: default;
}

.compte{background: white; color: maroon; font-size: 20px; font-weight: bold}

.operator, #footer>div{color: white; 
    background: #7a6; 
    margin: 4px; 
    padding: 4px;
    border-radius: 6px;
    
    font-size: x-large;
    min-width: 28px;
}

#footer>div:hover{
    cursor: default;
    box-shadow: 2px 2px 2px 1px  #fba;
}
#footer>div:active{
    box-shadow: 2px 2px 2px 1px  #fba;
}

#footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.bien{color: #afb; font-size: large;}
.mal{color: #f88; font-size: large;}
